AddCharset UTF-8 .html .css .js

<IfModule mod_expires.c>

    ExpiresActive on
    ExpiresDefault                                      "access plus 0 seconds"

  # FAVICON (cannot be renamed!) and cursor images
    ExpiresByType image/x-icon                          "access plus 7 days"
    ExpiresByType image/vnd.microsoft.icon              "access plus 7 days"

  # HTML
    ExpiresByType text/html                             "access plus 0 seconds"

  # CSS
    ExpiresByType text/css                              "access plus 7 days"

  # JavaScript
    ExpiresByType application/javascript                "access plus 7 days"
    ExpiresByType application/x-javascript              "access plus 7 days"
    ExpiresByType text/javascript                       "access plus 7 days"

    ExpiresByType image/svg+xml                         "access plus 7 days"

</IfModule>

# This is deprecated, but maybe it still works
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE image/svg+xml
